<div class="content">
    <div class="row">
        <div class="col-md-2">
            <i class="fa fa-file-text-o" style="font-size:125px;"></i>
        </div>
        <div class="col-md-10">
            <div class="box">
                <span id="title">Porfolio</span>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Here you put the description of your portfolio.</p>
                </div>
            </div>
        </div>
    </div>
</div>