<div class="content">
    <div class="row">
        <div class="col-md-2">
            <i class="fa fa-user" style="font-size:125px;"></i>
        </div>
        <div class="col-md-10">
            <div class="box">
                <span id="title">Profile</span>
                <p id="sub-title">Software Engineer && Android Developer Application</p>
                <media-social></media-social>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Hello, My name is Bernan Cordero</h4>
                    <p>
                        4 years software engineer with a strong educational background and experience, seeking a challenging position in software field for growth with the organization. Skilled programming and testing.
                    </p>
                   
                </div>
            </div>

        </div>
    </div>
</div>